/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Open+Sans&family=Kalam:wght@400;700&family=Open+Sans:wght@400;700&display=swap'");

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #FFFFDB;
}

textarea{
  font-family: "Kalam", sans-serif;
  font-size: x-large;
  font-weight: bold;
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  font-weight: bold;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid #FFFFDB;;
}

.hour {
  background-color: #FFFFDB;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
}

.present {
  background-color: #ff6961;
}

.future {
  background-color: #77dd77;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.display-3
{
  font-family: 'Permanent Marker', sans-serif;
}

.lead{
  font-family: "Kalam", sans-serif;
  font-weight: bold;
  font-size: 1.25em;
}

#currentDay{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}

.btn-danger{
  margin-right: 10px;
}

/*adjust time text content when screen size is phone or smaller*/
@media screen and (max-width: 568px){

  .btn-danger
  {
    width: 40vw;
  }

  .col-2
  {
    padding-left: 5px;
  }
  
}
